<h3><%= @patient.name %></h3>
<ul><% @patient.appointments.each do |appointment| %>
  <li><%= appointment.readable %></li>
  <p><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %><p>
    <%end%>
</ul>
