<h1><%= @doctor.name %></h1>
<ul>
  <% @doctor.appointments.each do |apt| %>
    <li><%=apt.appointment_datetime.strftime("%B %d, %Y")%> at <%=apt.appointment_datetime.strftime("%H:%M")%> | Patient: <%= link_to apt.patient.name, patient_path(apt.patient) %></li>
  <% end %>
</ul>
