<h2><%= @doctor.name %> </h2>

<% @doctor.appointments.each do |appointment| %>
<%= appointment.readable_appointment_time %>
  <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
<% end %>
