<h2>Upcoming appointment at: <%= @appointment.readable_datetime %></h2>
<br>
<h3>Patient name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h3>
<br>
<h3>Doctor name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
